<h1>Agenda</h1>

<table border='1'>
  <tr>
    <th>time/venue</th>
    <% @venues.each { |venue| %>
      <th><%= venue.name %></th>
    <% } %>
  </tr>
  <% @agenda.each do |time, speakers| %>
  <tr>
    <td>
      <%= TimeSlot.find(time).start_time.strftime("%H:%M") %>
      </br>
      <%= TimeSlot.find(time).end_time.strftime("%H:%M") %>
    </td>
    <% speakers.each do |speaker| %>
      <td>
        <% if speaker != nil %>
          <%= speaker.presentation %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
